<launch>

    <!--node type="executable.py" pkg="stanley" name="executable" /-->
    <!--node type="my.py" pkg="stanley" name="picture" /-->
    <include file="$(find stanley)/launch/stanleyCpp.launch"/>

    <include file="$(find stanley)/launch/simulator.launch"/>
    <include file="$(find stanley)/launch/publish.launch"/>

</launch>
